{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <title>Comma</title>
    <link rel="stylesheet" type="text/css" href='{% static "css/contact.css" %}'>
    <link rel=" shortcut icon" href='{% static "img/favicon.ico" %}'>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital@1&display=swap" rel="stylesheet">

</head>

<body>
<div class="container">
    <!-- HEADLINE -->
    <div class="head">
        <div id="player"></div>
        <div class="headline"><span class="control" onclick="player.previousVideo()">< </span><span id="head" onclick="controller(event)">Contact me</span><span class="control" onclick="player.nextVideo()"> ></span></div>
    </div>

    <!-- NAVBAR -->
    <div class="nav">
        <div class="nav-item">
            <ul class="list">
                <li><a href="/">home</a></li>
                <li><a href='{% url "post" %}'>portfolio</a></li>
                <li><a href='{% url "contact" %}'>contact</a></li>
            </ul>
        </div>
    </div>

    <!-- MAIN CONTENT -->
    <div class="box">
        <div class="contact">
            <form action="#" method="post">
                <label>Name: <input type="text" name="Name" placeholder="강신표"></label>
                <label>E-mail: <input type="email" name="E-mail" placeholder="youremail@example.com"></label>
                <label>Phone Number: <input type="tel" name="PhoneNumber" placeholder="010-0000-0000"></label>
                <input type="submit" name="submit" placeholder="제출">
            </form>
        </div>
    </div>
    <hr>

    <!-- FOOTER -->
    <div class="footer">
        <div class="fa">
            <ul class="list">
                <li><a href="https://www.facebook.com/kangcomma"><img src='{% static "img/fa-facebook.png" %}' width="50px" height="50px"></a></li>
                <li><a href="https://www.instagram.com/kang__comma"><img src='{% static "img/fa-instagram.png" %}' width="50px" height="50px"></a></li>
                <li><a href="https://github.com/sinpyo"><img src='{% static "img/fa-github.png" %}' width="50px" height="50px"></a></li>
            </ul>
        </div>
        &copy; Comma
    </div>
</div>
<script type="text/javascript" src='{% static "javascript/script.js" %}'></script>
<script>

    function zoomIn(event) {
        event.target.style.transform = "scale(1.142)";
        event.target.style.zIndex = 1;
        event.target.style.transition = "all 0.3s";
    }
    function zoomOut(event) {
        event.target.style.transform = "scale(1)";
        event.target.style.zIndex = 0;
        event.target.style.transition = "all 0.3s";
    }
    function lineZoomIn(event) {
        event.target.style.transform = "scale(1.5)";
        event.target.style.zIndex = 1;
        event.target.style.transition = "all 0.3s";
    }
    function lineZoomOut(event) {
        event.target.style.transform = "scale(1)";
        event.target.style.zIndex = 0;
        event.target.style.transition = "all 0.3s";
    }
</script>

</body>
</html>